traffic/src/main/resources/traffic.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- Schema for all kinds of configurations -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/tcp-22"
        xmlns:c="http://www.example.org/tcp-22" elementFormDefault="unqualified">

    <element name="config" type="c:ConfigType"/>


    <complexType name="ConfigType">
        <choice maxOccurs="unbounded">
            <element name="light" type="c:LightType"/>
            <element name="object" type="c:ObjectType"/>
            <element name="terrain" type="c:TerrainType"/>
            <element name="trafficgraph" type="c:TrafficGraphType"/>
            <element name="vehicle" type="c:VehicleType"/>
            <element name="viewpoint" type="c:ViewpointType"/>
            <element name="vehicledefinition" type="c:VehicleDefinitionType"/>
            <element name="vehicles" type="c:VehicleListType"/>
            <element name="airportdefinition" type="c:AirportDefinitionType"/>
            <element name="BaseTransformForVehicleOnGraph" type="c:BaseTransformForVehicleOnGraphType"/>
            <element name="include" type="string"/>
            <element name="poi" type="c:PoiType"/>
            <element name="projection" type="c:ProjectionType"/>
        </choice>
        <attribute name="name" type="string"/>

    </complexType>

    <complexType name="TrafficGraphType">
        <attribute name="graphfile" type="string"/>
        <attribute name="graphfactory" type="string"/>
        <!-- 16.5.24 Even though groundnet was intended to be loaded 'on-the-fly', it is still helpful here because
         1) 'on-the-fly' is far in the future and 2) a server hosted scene might have groundnets independent from some position
         3) it avoids hard coded 'LOADGROUNDNET' requests from SphereSystem
         -->
        <attribute name="groundnet" type="string"/>

    </complexType>

    <complexType name="ViewpointType">
        <sequence>
            <element name="transform" type="c:TransformType" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="name" type="string"/>
    </complexType>
    <!--28.11.23  <complexType name="ViewpointListType">
         <sequence>
             <element name="viewpoint" type="c:ViewpointType" minOccurs="0" maxOccurs="unbounded"/>
         </sequence>
     </complexType>-->

    <complexType name="LightType">
        <attribute name="color" type="string"/>
        <attribute name="direction" type="string"/>
    </complexType>

    <complexType name="TransformType">
        <sequence>
            <element name="position" type="c:MultiValueType" minOccurs="0" maxOccurs="1"/>
            <element name="angle" type="c:MultiValueType" minOccurs="0" maxOccurs="1"/>
            <element name="scale" type="c:MultiValueType" minOccurs="0" maxOccurs="1"/>
        </sequence>


    </complexType>

    <!-- 9.5.24: better SceneryType? But terrain is specific for elevation providing.
    But sceneryBuilder can also provide terrain for elevation.
    Anyway there might be only one scenerybuilder, but multiple objects. Even though
    this doesn't apper meaningfull.-->
    <complexType name="TerrainType">
        <sequence>
            <element name="builder" type="c:BuilderType" minOccurs="0" maxOccurs="1"/>
            <element name="object" type="c:ObjectType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- position,rotation,scale,aso-->
    <complexType name="MultiValueType">

        <simpleContent>
            <extension base="string">

            </extension>
        </simpleContent>

    </complexType>


    <complexType name="ObjectType">
        <sequence>
            <element name="transform" type="c:TransformType" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="name" type="string"/>
        <attribute name="modelfile" type="string"/>
        <attribute name="position" type="string"/>
        <attribute name="scale" type="string"/>

    </complexType>

    <!-- A vehicle list entry, not a vehicle definition. That is VehicleDefinitionType-->
    <complexType name="VehicleType">

        <attribute name="name" type="string"/>
        <attribute name="delayedload" type="boolean"/>
        <!-- for GraphMovingComponent.automove-->
        <attribute name="automove" type="boolean"/>
        <!-- a SmartLocation-->
        <attribute name="location" type="string"/>
        <attribute name="initialcount" type="int"/>

    </complexType>

    <!--
    1.3.18: The general phrase here is 'vehicle', also for aircraft (even though vehicle in english isn't an aircraft?).
       Instead we have attribute 'type'. Is shuttle an aircraft?
    -->
    <complexType name="VehicleDefinitionType">

        <sequence>
            <element name="bundlename" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="modelfile" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="lowresfile" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="zoffset" type="double" minOccurs="0" maxOccurs="1"/>
            <element name="unscheduledmoving" type="boolean" minOccurs="0" maxOccurs="1"/>
            <element name="maximumspeed" type="double" minOccurs="0" maxOccurs="1"/>
            <element name="acceleration" type="double" minOccurs="0" maxOccurs="1"/>
            <element name="approachoffset" type="double" minOccurs="0" maxOccurs="1"/>
            <element name="turnradius" type="double" minOccurs="0" maxOccurs="1"/>
            <!-- 28.11.23: Its not consistent to have a sublist here. So just unbounded
            View points are relative to the vehicle -->
            <element name="viewpoint" type="c:ViewpointType" minOccurs="0" maxOccurs="unbounded"/>
            <!-- doesn't really belong here, but currently its used -->
            <element name="initialcount" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="aircraftdir" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="optional" type="string" minOccurs="0" maxOccurs="unbounded"/>
            <element name="wingspread" type="double" minOccurs="0" maxOccurs="1"/>
            <element name="wingpassingpoint" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="leftwingapproachpoint" type="string" minOccurs="0" maxOccurs="1"/>
            <!--first door is expected to be front left-->
            <!--14.11.17: z soll die door Unterkante im aircraft local space sein. Was hoffentlich im vom Ground ist. Ist es aber wohl nicht.-->
            <element name="door" type="string" minOccurs="0" maxOccurs="unbounded"/>
            <!-- 02.04.25: optional transformation(rotation) from vehicle space to the new standard 'FG space' in traffic.-->
            <element name="transform" type="c:TransformType" minOccurs="0" maxOccurs="1"/>
        </sequence>

        <attribute name="name" type="string"/>
        <attribute name="modeltype" type="string"/>
        <!-- Instead of attribute 'simple' we have attribute "ai" for tagging simple (AI) aircraft. Unsure whether it is really used -->
        <attribute name="ai" type="boolean"/>
        <attribute name="type" type="string"/>

    </complexType>

    <complexType name="VehicleListType">

        <sequence>
            <element name="vehicle" type="c:VehicleType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="name" type="string"/>

    </complexType>

    <!-- This is not for airport layout data like groundnets and runways that comes from other sources (OSM, apt.dat).-->
    <complexType name="AirportDefinitionType">
        <sequence>
            <element name="home" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="parking" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="vehicle" type="c:LocatedVehicleType" minOccurs="0" maxOccurs="unbounded"/>
            <!-- a SmartLocation-->
            <element name="location" type="string" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="icao" type="string"/>
    </complexType>

    <complexType name="LocatedVehicleType">
        <sequence>
            <!-- a SmartLocation-->
            <element name="location" type="string" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="name" type="string"/>
    </complexType>

    <!-- until we have a better idea where to put this we keep it here-->
    <complexType name="BaseTransformForVehicleOnGraphType">
        <sequence>
            <element name="transform" type="c:TransformType" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="name" type="string"/>
    </complexType>

    <!-- A poi is similar to viewpoint, but uses geo coordinates -->
    <complexType name="PoiType">
        <simpleContent>
            <extension base="string">
                <attribute name="name" type="string"/>
                <attribute name="description" type="string"/>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="BuilderType">
        <simpleContent>
            <extension base="string">
                <attribute name="type" type="string"/>
                <attribute name="name" type="string"/>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="ParameterType">
        <simpleContent>
            <extension base="string">
                <attribute name="value" type="string"/>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="ProjectionType">
        <attribute name="center" type="string"/>
    </complexType>

    <!-- Type for hex integers -->
    <simpleType name="hex-integer">
        <restriction base="string">
            <pattern value="0x[0-9a-fA-F]+"/>
        </restriction>
    </simpleType>

    <!-- Type for integers in either decimal or hex -->
    <simpleType name="dec-or-hex-integer">
        <union memberTypes="integer c:hex-integer"/>
    </simpleType>

</schema>
